body {
    width: 100%;
}

#upload {
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: #9e30b7;
    border: none;
    cursor: pointer;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}